@media (max-width: $breakpoint-sm){
  h1 {color: blue;}
  h2 {
    color:red;

  }
}
// La couleur change en rouge en dessous du breakpoint-sm(all)
@media (max-width: $breakpoint-md){
  h1 {
    color: blue;
  }
  h2 {
    color:rgb(102, 226, 150);
    background-color: bisque;

  }
}